*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(14, 13, 13);
}

ul, ol, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #302e2e;
    text-decoration: none;
    font-size: 18px;
    }

    a:hover {
        color: #0803225e;
    }
    
.menu {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #e2dbdb;
        padding: 25px;
    }
    
.menu-icon {
        display: none;
        cursor: pointer;
        flex-direction: column;
        gap: 5px;
    }
    

.menu-items {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        margin-left: 20px;
    }
    
.menu-items li {
        margin-left: 40px;
    }

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: white;
    padding: 40px;

}

.star1 {
    width: 4%;
    height: 5%;
    padding-right: 30px;
}

.star2 {
    width: 4%;
    height: 2%;
    padding-left: 30px;
}

.carrossel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrossel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carrossel-imagens {
    display: flex;
    transition: transform 5s ease-in-out;
    animation-fill-mode: forwards; 
    }

.carrossel-item {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.carrossel-container:hover .carrossel-imagens {
    transform: translateX(-60%);
}
